[submodule "EDA"]
	path = EDA
	url = https://github.com/ds4e/EDA.git
[submodule "wrangling"]
	path = wrangling
	url = https://github.com/ds4e/wrangling.git
[submodule "knn"]
	path = knn
	url = https://github.com/ds4e/knn.git
